/********** CSS Reset **********/
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

textarea, input, button {outline:none;}

body {
    line-height:1;
    font-family: Arial, sans-serif;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

a {
	text-decoration: none;
}

ul, li {
	list-style: none;
}


/*
	Header - Nav
 */

.main-nav {
	margin-top: 20px;
	margin-right: 10px;
}

.main-nav::after {
	display: block;
	content: "";
	clear: both;
}

.main-nav li {
	float: right;
	margin-right: 15px;
}

.main-nav li img {
	cursor: pointer;
}

.main-nav li a {
	font-size: 13px;
	color: #000;
}

.main-nav li a:hover {
	text-decoration: underline;
}

/*
	Main Area
 */
.main {
	text-align: center;
	margin-top: 150px;
	margin-bottom: 145px;
}

.main .image {
	margin-bottom: 20px;
}

.main .user-search input {
	margin: 0 400px 0 390px;
	padding: 0 20px;
	display: block;
	width: 580px;
	height: 45px;
	border: none;
	font-size: 16px;

	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
	transition: box-shadow .2s ease;
}

.main .user-search input:hover {
	box-shadow: -1px 4px 5px 1px rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
}

button[type=submit] {
	margin-top: 30px;
	padding: 10px 20px;
	background: #F2F2F2;
	border: none;
	color: #737373;
	font-weight: bold;
	border-radius: 2px;
	border: 1px solid rgba(0, 0, 0, 0);
}

button[type=submit]:hover {
	background: linear-gradient(#fafafa, #f2f2f2);
	border: 1px solid rgba(0, 0, 0, 0.08);
	box-shadow: 0 1px 0.5px 0 rgba(0, 0, 0, 0.25);
	color: #000;
}

.main .user-search .btn-search {
	margin-right: 3px;
}

/*
	Footer
 */
footer {
	margin-top: 50px;
	background-color: #F2F2F2;
	color: #757575;
}

footer .country {
	padding: 15px 0 15px 20px;
	border-top: 1px solid #E2E2E2;
	border-bottom: 1px solid #E2E2E2;
}

.footer-nav::after {
	display: block;
	content: "";
	clear: both;
}

.footer-nav {
	font-size: 13px;
	padding: 15px 0;
}

.footer-nav .about-1 {
	float: left;
	padding-left: 20px;
}

.footer-nav .about-2 {
	float: right;
	padding-right: 20px;
}

.footer-nav .about-1 li,
.footer-nav .about-2 li {
	display: inline;
	margin-right: 25px;
}

.footer-nav a {
	color: #757575;
}

.footer-nav a:hover {
	text-decoration: underline;
}






